.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.title {
  background-image: linear-gradient(
    to bottom right,
    #4affde 0%, #5b9dff 40%, #d06bff 60%, #ff34d2 100%
  );
  background-clip: text;
  color: transparent;
  animation: movingGradient 5s linear infinite alternate;
  background-size: 200% 200%;
  font-size: 72px;
  font-family: "Prompt";
}

@keyframes movingGradient {
  from { background-position: 0 0; }
  to   { background-position: 100% 100%; }
}